
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 400px;
}
p{
  text-align: left;
}
.content img{
  width: 25rem;
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  border-radius: 49% 51% 33% 67% / 63% 31% 69% 37% ;
}
.content #cont{
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 2em;
  width: 2em;
  animation: float 0s ease-in-out infinite;
  margin-top: 8px;
  margin-inline: 4px;
}
.introduction{
  background: -webkit-linear-gradient(120deg,hsl(330, 100%, 100%),hsl(330, 100%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 400px;
  font-weight: 400;
}

@keyframes float{
  0%{transform:translateY(0px);}
  50%{transform:translateY(-30px);}
  100%{transform:translateY(0px);}
}